/* BODY STYLES */
body {
  box-sizing: border-box;
  padding: 1.5rem;
  font-family: 'Archivo-narrow', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
}

a {
  text-decoration: none;
}

/* LAYOUT */
.container {
  display: flex;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 11vw;
  padding-left: 2.2rem;
  font-weight: 900;
}

.sidebar ul {
  position: fixed;
  -webkit-padding-start: 0;
  -webkit-margin-start: 0;
  -webkit-margin-before: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* NAVBAR */

.sidebar .home {
  padding: 0 3rem;
}

.nav {
  list-style: none;
}

.nav li {
  padding-bottom: 1.25rem;
}

.nav a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.nav a:after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 0%;
  border-bottom: 8px solid rgba(0, 0, 0, 0.692);
  transition: 0.3s ease-in-out;
}

.nav a:hover:after {
  width: 100%;
}

/* SECTION ELEMENT */
.section {
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

/* TOP SECTION */
.topbits {
  background-color: #ffffff;

  /* REMOVE HEIGHT */
  height: 40vh;
}

/* MIDDLE SECTION */
.about {
  height: 10vw;
  background-color: #ffffff;
}

/* BOTTOM SECTION */
.projects {
  font-family: 'Archivo-Narrow', sans-serif;
  font-weight: 600;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* FOOTER */
.contact {
  background-color: purple;

  /* REMOVE HEIGHT */
  height: 90px;
}

.seperator {
  /* background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); */
  height: 3em;
  margin: 20px 0;
}
/* SINGLE PROJECT */

.single-project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 100%;
  margin-bottom: 2rem;
}

.project-content {
  /* background-color: purple; */
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-image {
  /* -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
  /* flex: 0 0 50%; */
  order: 2;
  /* background-color: red; */
  min-width: 40%;
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-words {
  /* background-color: tan; */
  order: -1;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.project-title {
  /* background-color: red; */
  margin: 0;
  font-family: inherit;
  font-size: 2rem;
}

.project-description {
  font-weight: 400;
  font-family: inherit;
  font-size: 1rem;
  width: 30rem;
  padding: 0 5%;
  line-height: 2rem;
  /* background-color: tomato; */
  /* margin-left: 5rem; */
}

.project-links {
  padding-top: 2rem;
  text-align: center;
}

.project-links > a {
  padding: 0 1rem;
}

.project-links img {
  max-width: 30px;
}

/* MEDIA QUERIES */

/* Extra Small Devices, Phones */
@media only screen and (max-width: 830px) {
  body {
    padding: 1rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    position: static;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar ul {
    position: static;
  }

  .content {
  }

  .sidebar .home {
    padding: 0 0px;
  }

  .nav li {
    padding-bottom: 0px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .single-project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 100%;
  }

  .project-words {
    flex: 0 0 100%;
    order: -1;
  }

  .project-image {
    /* clip-path: none; */
    /* max-width: 89vw; */
  }

  .project-title {
    text-align: center;
    flex: 1;
    order: -2;
    font-family: inherit;
    font-size: 2rem;
  }

  .project-description {
    flex: 1;
    padding: 0;
    margin: 0;
    width: auto;
    min-width: unset;
    max-width: unset;
    order: -1;
    font-family: inherit;
    font-size: 1rem;
  }
}
