/* BODY STYLES */
body {
  box-sizing: border-box;
  padding: 2rem;
  font-family: "Archivo-narrow", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
}

/* LAYOUT */
.container {
  display: flex;
}

.sidebar {
  font-weight: 900;
  flex: 0 0 10vw;
  display: flex;
  flex-direction: column;
  position: relative;
}
.sidebar ul {
  position: fixed;
  -webkit-padding-start: 0;
  -webkit-margin-start: 0;
  -webkit-margin-before: 0;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* NAVBAR */

.sidebar .home {
  padding: 0 41px;
}

.nav {
  list-style: none;
}

.nav li {
  padding-bottom: 10px;
}

.nav a {
  /* padding-bottom: 2rem; */
  position: relative;
  color: #000;
  text-decoration: none;
}

.nav a:after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 0%;
  border-bottom: 8px solid rgba(0, 0, 0, 0.692);
  transition: 0.3s ease-in-out;
}

.nav a:hover:after {
  width: 100%;
}

/* SECTION ELEMENT */
.section {
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

/* TOP SECTION */
.topbits {
  background-color: palegoldenrod;

  /* REMOVE HEIGHT */
  height: 80vh;
}

/* MIDDLE SECTION */
.about {
  background-color: orangered;

  /* REMOVE HEIGHT */
  height: 40vw;
}

/* BOTTOM SECTION */
.projects {
  font-family: "Times New Roman", Times, serif;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* FOOTER */
.contact {
  background-color: purple;

  /* REMOVE HEIGHT */
  height: 40vw;
}

/* SINGLE PROJECT */

.single-project {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  flex: 1 0 100%;
}

.project-image {
  height: 13rem;
}

.project-title {
  font-family: inherit;
  font-size: 2rem;
}

.project-description {
  font-family: inherit;
  font-size: 1rem;
}

/* MEDIA QUERIES */

/* Extra Small Devices, Phones */
@media only screen and (max-width: 830px) {
  body {
    padding: 1rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    position: static;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar ul {
    position: static;
  }

  .content {
  }

  .sidebar .home {
    padding: 0 0px;
  }

  .nav li {
    padding-bottom: 0px;
  }

  .projects {
    font-family: "Times New Roman", Times, serif;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .single-project {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    flex: 1 0 100%;
  }

  .project-image {
    flex: 0 0 50%;

    /* CHANGE THIS!!! */
    /* width: 220px; */
  }

  .project-title {
    flex: 1;
    order: -2;
    font-family: inherit;
    font-size: 2rem;
  }

  .project-description {
    order: -1;
    font-family: inherit;
    font-size: 1rem;
  }
}
