/* 1200px */
@media only screen and (max-width: 1200px) {
  .single-project img {
    max-height: 25rem;
  }

  .project-description {
    font-weight: 400;
    font-family: inherit;
    font-size: 1rem;
    width: 80vw;
    line-height: 2rem;
    align-self: left;
  }

  .project-links {
    padding-bottom: 1rem;
  }

  .top-text p {
    margin-top: 0;
  }
}


/* 800px */
@media only screen and (max-width: 800px) {
  body {
    padding: 1rem;
  }

  .topbits {
    margin-top: .5rem;
  }

  .top-text h1 {
    font-size: 4rem;
  }

  .top-text p {
    margin-left: 0;
    font-size: 1rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    position: static;
  }

  .sidebar {
    padding-left: 0;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sidebar ul {
    position: static;
  }

  .sidebar .home {
    padding: 0 0px;
  }

  .nav li {
    padding-bottom: 1.25rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .single-project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 100%;
  }

  .project-words {
    flex: 0 0 100%;
    order: -1;
  }

  .project-title {
    text-align: center;
    flex: 1;
    order: -2;
    font-family: inherit;
    font-size: 2rem;
  }

  .project-description {
    flex: 1;
    padding: 0;
    margin: 0;
    width: auto;
    min-width: unset;
    max-width: unset;
    order: -1;
    font-family: inherit;
    font-size: 1rem;
  }

  .sidebar-links {
    display: none;
  }
}